<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weishi.yiye">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--网络访问-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--查看网络连接-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--装载和卸载文件系统-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--震动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--装载和卸载文件系统-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!--修改系统设置-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--直接拨打电话号码-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 需要运行时注册的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".application.YiyeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">

        <!--启动页-->
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Action.Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主页面-->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!--登录-->
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--注册-->
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--测试-->
        <activity
            android:name=".activity.TestActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--个人信息-->
        <activity
            android:name=".activity.mine.UserInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--修改昵称-->
        <activity
            android:name=".activity.mine.ChangeNicknameActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--积分充值-->
        <activity
            android:name=".activity.mine.ScoreBuyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--邀请好友-->
        <activity
            android:name=".activity.mine.InviteFriendActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--我的收藏-->
        <activity
            android:name=".activity.mine.MyCollectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--我的奖励-->
        <activity
            android:name=".activity.mine.MyAwardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--佣金收益-->
        <activity
            android:name=".activity.mine.CommissionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--用户代理数据-->
        <activity
            android:name=".activity.mine.AgentDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--商家入驻-->
        <activity
            android:name=".activity.mine.ShopsJoinActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--商家入驻资料填写-->
        <activity
            android:name=".activity.mine.ShopsJoinDataActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--商家入驻图片编辑-->
        <activity
            android:name=".activity.mine.ShopsJoinImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--选择坐标-->
        <activity
            android:name=".activity.mine.ChooseLocationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--系统消息-->
        <activity
            android:name=".activity.mine.SystemMsgActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--设置-->
        <activity
            android:name=".activity.mine.SettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--账号与安全-->
        <activity
            android:name=".activity.mine.SafetyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--设置手机号码-->
        <activity
            android:name=".activity.mine.SettingPhoneActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--绑定手机号码-->
        <activity
            android:name=".activity.mine.BindPhoneActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--设置支付密码-->
        <activity
            android:name=".activity.mine.SetPaymentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--意见反馈-->
        <activity
            android:name=".activity.mine.OpinionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--关于我们-->
        <activity
            android:name=".activity.mine.AboutUsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--搜索页面-->
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--美食页面-->
        <activity
            android:name=".activity.home.SecondHomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--商品详情-->
        <activity
            android:name=".activity.GoodsDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--商品图文详情-->
        <activity
            android:name=".activity.GoodsInsideDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--商品图片-->
        <activity
            android:name=".activity.ProductImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--商品图片大图-->
        <activity
            android:name=".activity.ProductImageDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!--提交订单-->
        <activity
            android:name=".activity.order.SubmitOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--积分支付-->
        <activity
            android:name=".activity.order.PayScoreActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--支付成功-->
        <activity
            android:name=".activity.order.PaySuccessActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--店铺详情-->
        <activity
            android:name=".activity.ShopDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--店铺商品列表-->
        <activity
            android:name=".activity.GoodsListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--评论列表-->
        <activity
            android:name=".activity.CommentsListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--店铺搜索列表-->
        <activity
            android:name=".activity.SearchResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--全部订单-->
        <activity
            android:name=".activity.order.AllOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--订单详情-->
        <activity
            android:name=".activity.order.OrderDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--商品评价-->
        <activity
            android:name=".activity.order.CommentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />

        <!--商品评价图片-->
        <activity
            android:name=".activity.order.ImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />

        <!--定位-->
        <activity
            android:name=".activity.nearby.LocationListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--省-->
        <activity
            android:name=".activity.ProvinceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--市-->
        <activity
            android:name=".activity.CityActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--区-->
        <activity
            android:name=".activity.AreaActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--商家类型-->
        <activity
            android:name=".activity.BusinessFatherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <activity
            android:name=".activity.BusinessParentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <activity
            android:name=".activity.BusinessSortActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--扫码支付-->
        <activity
            android:name=".activity.ScanPayActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--店铺商品列表-->
        <activity
            android:name=".activity.ShopGoodsListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--我的伙伴列表-->
        <activity
            android:name=".activity.mine.MyPartnerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!--美业快报-->
        <activity
            android:name=".activity.home.HeadlineActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />
        <!--首页二三级分类展示-->
        <activity
            android:name=".activity.home.ThreeHomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />
        <!-- 微信分享回调 -->
        <activity
            android:name="com.yskjyxgs.meiye.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--微信支付回调函数-->
        <activity
            android:name="com.yskjyxgs.meiye.wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104935393" />
            </intent-filter>
        </activity>

        <!--公共广告加载-->
        <activity
            android:name="com.weishi.yiye.activity.CommonWebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/JK.SwipeBack.Transparent.Theme" />

        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <!--9f43a820878854b387c15ab8101fcd8e--><!--谢庆华账号-->
        <!--ed0093c34b2d07746d3d1b52004dcdb6--><!--公司账号-->
        <!--d50b9b0b37e1cdc11bffba867fdbcf22--><!--众享美业-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d50b9b0b37e1cdc11bffba867fdbcf22" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yskjyxgs.meiye.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.weishi.yiye.common.util.MyFileProvider"
            android:authorities="com.yskjyxgs.meiye.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>